{% extends 'system/includes/base.twig' %}

{% block main %}
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <div class="box box-success">

                <form role="form" action="{{ path('cadastrar-principio-ativo') }}" method="POST">

                    <div class="box-header with-border">
                        <h3 class="box-title">Cadastrar Princípio Ativo</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <!-- text input -->
                        <div class="form-group">
                            <label>Nome</label>
                            <input required="required" name="nome" type="text" class="form-control" placeholder="Digite o princípio ativo">
                        </div>

                    </div>
                    <div class="box-footer">
                        <a href="{{ path('gerenciar-principio-ativo') }}"><button type="button" class="btn btn-default">Cancelar</button></a>
                        <button type="submit" class="btn btn-success pull-right">Cadastrar</button>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>

        </section>
        <!-- /.content -->
    </div>
{% endblock %}