{% extends 'system/includes/base.twig' %}

{% block main %}
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">



        </section>
        <!-- /.content -->
    </div>
{% endblock %}