<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Versão <strong>1.0a</strong>
    </div>
    Sistema <strong>Auxílio</strong>
</footer>

<div class="control-sidebar-bg"></div>
</div>