<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
TELA PRINCIPAL DO PAINEL <a href="{{ path('logout') }}"><input type="submit" value="Logout" /></a>
</body>
</html>
