{% extends 'system/includes/base.twig' %}

{% block main %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Página inicial</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->

            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
{% endblock %}